$priortization-lists-rotate: -45deg;

$prioritization-grid-left: 100px;
$prioritization-grid-top: 120px;

$choice-grid-top: 375px;
$choice-grid-left: 23px;

$choice-grid-col-width: 42px;
$choice-grid-row-height: 42px; 