$priortization-lists-rotate: -44deg;

$prioritization-grid-left: 150px;
$prioritization-grid-top: 30px;

$choice-grid-top: 425px;
$choice-grid-left: 23px;

$choice-grid-col-width: 39px;
$choice-grid-row-height: 39px; 

$result-grid-top: $choice-grid-top + 430px;