$priortization-lists-rotate: -45deg;

$prioritization-grid-left: 100px;
$prioritization-grid-top: 120px;

$choice-grid-top: 380px;
$choice-grid-left: 23px;

$choice-grid-col-width: 39px;
$choice-grid-row-height: 39px; 

$result-grid-top: $choice-grid-top + 430px;