@import '../styles/variables';

.ChoiceBox {
    border: 2px solid black;
    margin-top: -2px;
    margin-right: -2px;
    gap: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: $choice-grid-col-width;
    height: $choice-grid-row-height;
  }
  
  .ChoiceBoxRow1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    width: 100%;
    height: 50%;
  }
  
  .ChoiceBoxRow2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    width: 100%;
    height: 50%;
    color: red;
  }
  
  .Choice {
    font-size: 16px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    padding-right: 1px;
    padding-bottom: 1px;
    vertical-align: middle;
    align-items: center;
  }

  .Choice:hover {
    cursor: pointer;
  }
  
  .ChoiceSelected {
    font-size: 16px;
    border-radius: 50%;
    border: 1.5px solid rgb(255, 0, 0);
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
  }

  .ChoiceDisabled {
    font-size: 16px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: rgba(0, 0, 0, 0.136);
    text-align: center;
    vertical-align: middle;
  }

  .ChoiceSelected:hover {
    cursor: pointer;
  }