.ItemField {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: -2px;
}

.ItemFieldDisabled {
    display: flex;
    .ItemTextbox {
        background-color: rgb(245, 241, 241);
    }
    margin-top: -2px;
}

.ItemLabel {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    height: 64px;
    width: 19.4px;
    padding-left: 5px;
    padding-right: 2px;
    @media screen and (max-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.ItemTextbox { 
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    resize: none;
    border-left: 0px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  
  .ItemTextbox:focus {
    outline: none;
  }