@import '../styles/variables';

.PrioritizationGridTitle {
    position: absolute;
    top: $prioritization-grid-top - 100px;
    left: $prioritization-grid-left;
    font-size: 28px;
    font-weight: bold;
}