@import '../styles/variables.scss';

$result-grid-top: $prioritization-grid-top + 340px;
$result-grid-left: $prioritization-grid-left - 24px;

  .ResultGrid {
    position: absolute;
    top: $result-grid-top + 440px;
    left: $result-grid-left + 46px;
  }

  .ResultGridTitle {
    width: 100px;
    top: $result-grid-top - 400px;
    left: $result-grid-left - 148px;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(-90deg);
  }

  .ResultGridSelected {
    width: 700px;
    top: $result-grid-top - 470px;
    position:absolute;
  }

  .ResultGridItemNumber {
    width: 700px;
    top: $result-grid-top - 423px;
    position:absolute;
  }

  .ResultGridRanked {
    width: 700px;
    top: $result-grid-top - 376px;
    position:absolute;
  }

  .ResultGridRowTitle {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .TitleEmphasis {
    color: red;
    font-weight: bold;
  }

  .ResultGridItemNumber {
    display: flex;
  }
  
  .ResultGridSelected {
    display: flex;
  }

  .ResultGridRanked {
    display: flex;
  }

  .ResultGridCell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 45px;
    border: 2px solid black;
    margin: -1px;
  }
  
  .ResultGridCellTitle {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 45px;
    border: 2px solid black;
    margin: -1px;
  }
  