@import '../styles/variables';
@import '../styles/mixins';

.ResultField {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: -2px;
}

.ResultFieldDisabled {
  display: flex;
  .ResultTextbox {
    background-color: rgb(245, 241, 241);
  }
  margin-top: -2px;
}

.ResultLabel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: bold;
  height: 64px;
  width: 25px;
  padding-right: 5px;
  @media screen and (max-width: 768px) {
    padding-right: 2px;
  }
}

.ResultTextbox { 
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  resize: none;
  border-left: 0px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 200px;
  height: 64px;
}

.ResultTextbox:focus {
  outline: none;
} 