@import '../styles/variables.scss';

$result-grid-top: $prioritization-grid-top + 350px;
$result-grid-left: $prioritization-grid-left - 23px;

.ResultGrid, .ResultGridTitle {
  position: absolute;
}

.ResultGrid {
  top: $result-grid-top + 440px;
  left: $result-grid-left + 46px;

  &Title {
    width: 100px;
    top: $result-grid-top - 435px;
    left: $result-grid-left - 148px;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(-90deg);
  }

  &ItemNumber, &Selected, &Ranked {
    width: 700px;
    display: flex;
    position: absolute;

    &:nth-child(1) { top: $result-grid-top - 470px; }
    &:nth-child(2) { top: $result-grid-top - 423px; }
    &:nth-child(3) { top: $result-grid-top - 376px; }
  }

  .ResultGridCell, .ResultGridCellTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37.5px;
    height: 45px;
    border: 2px solid black;
    margin: -1px;
  }

  .ResultGridCellTitle {
    font-weight: bolder;
  }
}

.ResultGridRowTitle {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.TitleEmphasis {
  color: red;
  font-weight: bold;
}
