
$prioritization-grid-left: 100px;
$prioritization-grid-top: 10px;
$priortization-lists-rotate: -39.3deg;

$choice-grid-top: $prioritization-grid-top + 345px; 
$choice-grid-left: $prioritization-grid-left;
$choice-grid-col-width: 39px;
$choice-grid-row-height: 48px; 
$result-grid-top: $prioritization-grid-top + 774px;

.ResultGrid {
  position: absolute;
  top: $result-grid-top + 10px;
  left: $prioritization-grid-left;
}

.ChoiceGrid {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: $choice-grid-top;
  left: $choice-grid-left
}

.OptionList {
  transform: rotate($priortization-lists-rotate);
  position: absolute;
  top: $prioritization-grid-top + 190px;
  left: $prioritization-grid-left + 170px;
}

.ResultList {
  transform: rotate($priortization-lists-rotate);
  position: absolute;
  top: $prioritization-grid-top + 40px;
  left: $prioritization-grid-left + 352px;
}

/* Choice Grid Classes */

/* create a sass loop from 1 to 10 */
@for $i from 1 through 10 {
  .ChoiceGridColumn#{$i} {
    position: absolute;
    top: $choice-grid-top + $choice-grid-row-height  * ($i - 1);
    left: $choice-grid-left + $choice-grid-col-width * ($i - 1);
  }
}

.ChoiceBox {
  border: 2px solid black;
  margin: -1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $choice-grid-col-width - 2;
  height: $choice-grid-row-height - 3;
}

.ChoiceBoxRow1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  width: 100%;
  height: 50%;
}

.ChoiceBoxRow2 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  width: 100%;
  height: 50%;
}

.Choice {
  font-size: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.ChoiceSelected {
  font-size: 16px;
  border-radius: 50%;
  border: 1.5px solid rgb(255, 0, 0);
  width: 20px;
  height: 20px;
}

/* Option List Classes */

.OptionTextbox {
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  font-size: 16px;
  margin: -3px;
  padding: 5px;
  height: 50px;
  width: 200px;
  resize: none;
  border-left: 0px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.OptionTextbox:focus {
  outline: none;
}

.OptionLabel {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* Result Grid Classes */

.ResultGridRow {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}

.ResultGridCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 45px;
  border: 2px solid black;
  margin: -1px;
}

.ResultGridCellTitle {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 45px;
  border: 2px solid black;
  margin: -1px;
}

.App {
  text-align: center;
}
